spawn-at-startup "elephant"
spawn-at-startup "walker" "--gapplication-service"
// spawn-at-startup "waybar"
spawn-sh-at-startup "RUST_LOG=debug RUST_BACKTRACE=1 ~/Projects/rushell/target/release/rushell > /tmp/bar.log 2>&1"
// spawn-at-startup "swaync"
// spawn-at-startup "swayidle"
// spawn-at-startup "awww-daemon"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "wlsunset" "-l" "17" "-L" "78"
