layout {
    focus-ring {
        active-color "#ffb782"
        inactive-color "#9f8d83"
        urgent-color "#ffb4ab"
    }

    border {
        active-color "#ffb782"
        inactive-color "#52443b"
        urgent-color "#ffb4ab"
    }

    shadow {
        color "#00000070"
        inactive-color "#00000040"
    }

    tab-indicator {
        active-color "#ffb782"
        inactive-color "#52443b"
        urgent-color "#ffb4ab"
    }

    insert-hint {
        color "#ffb78280"
    }

    background-color "#19120d"
}

overview {
    backdrop-color "#140d08"
}
